.float-left {
  float: left;
}
.float-right {
  float: left;
}

.margin-bottom-xs {
  margin-bottom: 0.6rem;
}

.margin-bottom-sm {
  margin-bottom: 0.8rem;
}

.margin-bottom-md {
  margin-bottom: 1rem;
}

.margin-top-xs {
  margin-top: 0.6rem;
}

.margin-top-sm {
  margin-top: 0.8rem;
}

.margin-top-md {
  margin-top: 1rem;
}

.text-bold {
  font-weight: bold;
}

.text-align-right {
  text-align: right;
}

.text-colour-red {
  color: #d60000;
}

.text-size-sm {
  font-size: 0.9rem;
}

.text-size-md {
  font-size: 1rem;
}

.text-size-lg {
  font-size: 1.1rem;
}

.width-1x {
  width: 1rem;
}
.width-2x {
  width: 2rem;
}
.width-3x {
  width: 3rem;
}
.width-4x {
  width: 4rem;
}
.width-5x {
  width: 5rem;
}